<div ng-controller="ChangePasswordController">
    <button type="button" class="btn" ng-click="changePassword()">Save</button>
    <br>
    <br>
    <div>
        Current Password:
        <input id="currentPassword" type="text" ng-model="user.currentPassword"></span>
    </div>
    <br>
    <div>
        New Password:
        <input id="newPassword" type="text" ng-model="user.newPassword"></span>
        Confirm Password:
        <input id="confirmedPassword" type="text" ng-model="user.newPasswordMatch"></span>
    </div>
</div>