<span class="int-menu-item"><a class="{{ '/home' | isActiveByPath }}" href="#/home">Home</a></span>
<span class="int-menu-item"><a class="{{ '/summary' | isActiveByPath }}" href="#/summary">TimeSheet Summary</a></span>
<span class="int-menu-item"><a class="{{ '/timesheet' | isActiveByPath }}" href="#/timesheet">Project Time Entry</a></span>
<span class="int-menu-item"><a class="{{ '/expenses' | isActiveByPath }}" href="#/expenses">Expenses</a></span>
<span class="int-menu-item"><a class="{{ '/help' | isActiveByPath }}" href="#/help">Help</a></span>
<div class="int-menu-sub"></div>