<div>
    <button type="button" class="btn" ng-click="saveProfile()">Save</button>
    <a href="#/changePassword">Change Password</a>
    <br>
    <br>
    <div>
        User Name:
        <input id="userName" type="text" ng-model="user.userName">
        Email:
        <input id="email" type="text" ng-model="user.email">
    </div>
    <br>
    <div>
        First Name:
        <input id="firstName" type="text" ng-model="user.firstName"></span>
        Last Name:
        <input id="lastName" type="text" ng-model="user.lastName">
    </div>
</div>
